<section class="transport-section transport-style-three pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <span class="color-blue">Our Services</span>
      <h2 class="color-blue">We Provide Products Allover The World by Our Transport Systems</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/1.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>Air Freight</h3>
            <p>A cargo aircraft also known as freight aircraft, freighter, airlifter or cargo jet is a fixed-wing aircraft that is designed.</p>

            <div class="theme-btn">
              <a [routerLink]="['','services','seafrieght']" class="default-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/2.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>Road Freight</h3>
            <p>A cargo aircraft also known as freight aircraft, freighter, airlifter or cargo jet is a fixed-wing aircraft that is designed.</p>

            <div class="theme-btn">
              <a [routerLink]="['','services','seafrieght']" class="default-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
        <div class="transport-card">
          <div class="transport-img">
            <img src="assets/img/services/3.jpg" alt="transport image">
          </div>
          <div class="transport-text">
            <h3>Ocean Freight</h3>
            <p>A cargo aircraft also known as freight aircraft, freighter, airlifter or cargo jet is a fixed-wing aircraft that is designed.</p>

            <div class="theme-btn">
              <a [routerLink]="['','services','seafrieght']" class="default-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Transport System Section End -->

<!-- Why Choose  Section Start -->
<div class="choose-style-two pb-70">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="color-blue">We are Top Rated Transport Logistic</h2>
      <p class="color-blue">Found parents would couldn't said on. That, feedback there made he was may blind you simple, its yet a own blind you ago hand.</p>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s">
            <div class="choose-card">
              <i class="icofont-fast-delivery"></i>
              <h3>Fast & Safe Delivery</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="choose-card">
              <i class="icofont-ssl-security"></i>
              <h3>Product Security</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="choose-card">
              <i class="icofont-diamond"></i>
              <h3>Price Oriented </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="why-choose-image">
          <img src="assets/img/why-choose/choose-img.png" alt="why Choose image">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-ui-browser"></i>
              <h3>Secured Payment</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-live-support"></i>
              <h3>24/7 Support</h3>
            </div>
          </div>
          <div class="col-lg-12 col-sm-4">
            <div class="choose-card">
              <i class="icofont-like"></i>
              <h3>Well Experienced</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Section End -->


