<!--<div class="header-area">-->
<!--  <div class="container">-->
<!--      <div class="row align-items-center">-->
<!--          <div class="col-md-6">-->
<!--              <div class="header-left">-->
<!--                  <ul>-->
<!--                      <li>-->
<!--                         <a href="mailto:hello@fixa.com">-->
<!--                          <i class="icofont-ui-message"></i>-->
<!--                              hello@fixa.com-->
<!--                         </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                          <a href="tel:+10235415654">-->
<!--                              <i class="icofont-phone"></i>-->
<!--                              +10235415654-->
<!--                          </a>-->
<!--                      </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--              <div class="header-right">-->
<!--                  <ul class="header-social">-->
<!--                      <li>-->
<!--                          <a [routerLink]=/ target="_blank">-->
<!--                              <i class="icofont-facebook"></i>-->
<!--                          </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                          <a [routerLink]=/ target="_blank">-->
<!--                              <i class="icofont-twitter"></i>-->
<!--                          </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                          <a [routerLink]=/ target="_blank">-->
<!--                              <i class="icofont-instagram"></i>-->
<!--                          </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                          <a [routerLink]=/ target="_blank">-->
<!--                              <i class="icofont-linkedin"></i>-->
<!--                          </a>-->
<!--                      </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<div class="navbar-area">
  <!-- For Mobile Device -->
  <div class="mobile-nav d-flex justify-content-between">
    <div class="mobile-nav-container">
      <a [routerLink]="['']" class="logo">
        <img src="assets/img/logo.png" alt="logo">
      </a>

      <a data-bs-toggle="collapse" href="#menuMobile" role="button"
         aria-expanded="true" aria-controls="menuMobile"> <i class="icon-nav icofont-navigation-menu"></i></a>

    </div>


  </div>
  <div class="collapse multi-collapse " id="menuMobile">
    <div class="mean-container">
      <div class="mean-bar">
        <nav class="mean-nav mt-0">
          <ul class="navbar-nav ms-auto" style="">
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent=== ''" (click)="navigate('')" class="nav-link ">{{('navbar.home'|translate) | titlecase}}</a></li>
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent=== 'about'" (click)="navigate('about')" class="nav-link">{{('navbar.about'|translate) | titlecase}}</a>
            </li>
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent=== 'services'" (click)="navigate('services')"
                 class="nav-link dropdown-toggle">{{('navbar.services'|translate) | titlecase}}</a>
              <ul class="dropdown-menu d-block">
                <li class="nav-item cursor-pointer">
                  <a [routerLink]="['','services','air-freight']" class="nav-link">{{'services_detail.air_freight'|translate}}</a>
                </li>
                <li class="nav-item cursor-pointer">
                  <a [routerLink]="['','services','road-freight']" class="nav-link">{{'services_detail.road_freight'|translate}}</a>
                </li>
                <li class="nav-item cursor-pointer">
                  <a [routerLink]="['','services','ocean-freight']" class="nav-link">{{'services_detail.ocean_freight'|translate}}</a>
                </li>
              </ul>
              <!--            <a class="mean-expand" [routerLink]=/ style="font-size: 18px">+</a>-->
            </li>

            <li class="nav-item mean-last">
              <a [routerLink]="['','contact-us']" class="nav-link">{{('navbar.contact'|translate) | titlecase}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>


  </div>
  <!-- For Desktop Device -->
  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo cursor-pointer" (click)="navigate('')">
          <img src="assets/img/logo.png" alt="logo">
        </a>
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent=== ''" (click)="navigate('')" class="nav-link">{{'navbar.home'|translate |titlecase}}</a>

            </li>
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent==='about'" (click)="navigate('about')" class="nav-link">{{('navbar.about'|translate) | titlecase}}</a>
            </li>
            <li class="nav-item cursor-pointer">
              <a [class.active]="routeCurrent.includes('services')" (click)="navigate('services')"
                 class="nav-link dropdown-toggle">{{('navbar.services'|translate) | titlecase}}</a>
              <ul class="dropdown-menu">
                <li class="nav-item cursor-pointer">
                  <a [class.active]="routeCurrent.includes('air-freight')" [routerLink]="['','services','air-freight']"
                     class="nav-link">{{'services_detail.air_freight'|translate}}
                  </a>
                </li>
                <li class="nav-item cursor-pointer">
                  <a [class.active]="routeCurrent.includes('road-freight')" [routerLink]="['','services','road-freight']" class="nav-link">{{'services_detail.road_freight'|translate}}</a>
                </li>
                <li class="nav-item cursor-pointer">
                  <a [class.active]="routeCurrent.includes('ocean-freight')" [routerLink]="['','services','ocean-freight']" class="nav-link">{{'services_detail.ocean_freight'|translate}}</a>
                </li>

              </ul>
            </li>


            <li class="nav-item cursor-pointer mr-3">
              <a [class.active]="routeCurrent.includes('contact')"  [routerLink]="['','contact-us']" class="nav-link">{{('navbar.contact'|translate) | titlecase}}</a>
            </li>
            <label class="dropdownFlag ml-3">

              <div class="dd-button">
                <img *ngIf="languageType=='en'" src="./assets/img/en-flag.png" width="25px" alt="">
                <img *ngIf="languageType=='vi'" src="./assets/img/vi-flag.png" width="25px" alt="">
              </div>

              <input type="checkbox" class="dd-input" id="test">

              <ul class="dd-menu">
                <li *ngIf="languageType=='en'" (click)="changeLanguage()">
                  <img src="./assets/img/vi-flag.png" width="25px" alt=""></li>
                <li *ngIf="languageType=='vi'" (click)="changeLanguage()">
                  <img src="./assets/img/en-flag.png" width="25px" alt=""></li>
              </ul>

            </label>

          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
