<footer class="footer-area mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <a href="index.html">
            <img src="assets/img/logo-2.png" alt="logo">
          </a>
          <ul>
            <li>
              <i class="icofont-phone"></i>
              <a href="tel:0979359600">
                0979359600
              </a>
            </li>

            <li>
              <i class="icofont-ui-message"></i>
              <a href="mailto:dpiglobal@gmail.com">
                dpiglobal@gmail.com
              </a>
            </li>

            <li>
              <i class="icofont-location-pin"></i>
              No. 10a, Group 1, Viet Hung Ward, Long Bien District, Hanoi City, Vietnam
            </li>
          </ul>

          <div class="footer-social">
            <a href="#" target="_blank">
              <i class="icofont-facebook"></i>
            </a>
            <a href="#" target="_blank">
              <i class="icofont-instagram"></i>
            </a>
            <a href="#" target="_blank">
              <i class="icofont-twitter"></i>
            </a>
            <a href="#" target="_blank">
              <i class="icofont-linkedin"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Our Services</h3>
          <ul>
            <li>
              <a href="service-details.html">SEAFREIGHT</a>
            </li>
            <li>
              <a href="service-details.html">AIRFREIGHT
              </a>
            </li>
            <li>
              <a href="ocean-freight.html">OTHERS</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Our Support</h3>
          <ul>
            <li>
              <a href="privacy.html">Privacy & Policy</a>
            </li>
            <li>
              <a href="faq.html">FAQS</a>
            </li>
            <li>
              <a href="terms.html">Terms & Conditions</a>
            </li>
            <li>
              <a href="contact.html">Contact Us</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="service.html"> Our Services </a>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</footer>
